<!DOCTYPE html>
<html lang="en, ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sketchify</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300;0,400;0,800;1,300&family=Merriweather:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
</head>

<body>


    <header class='header' style="margin-bottom: 15px;">
        <div class="container">
            <div class="header__top">
                <a href="#" class="logo">
                    <img src="static/images/logo.jpg" alt="" width="100" class="round">
                </a>
                <div class="wherehead" style="position: relative; margin-left: -850px; text-shadow: 0px 0px 7px #7b7b7b;">Sketchify</div>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="#" class="menu__link">
                                <img src="static/images/face.png" alt="" style="width: 60px;" class="round">
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">
                                <img src="static/images/twit.jpg" alt="" style="width: 60px; border-radius: 120px">
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="https://www.instagram.com/pppestto/" class="menu__link">
                                <img src="static/images/inst.png" alt="" style="width: 60px; border-radius: 120px">
                            </a>
                        </li>
                        <li class="menu__item">
                            <button id="openModal">
                                <img src="static/images/three.png" alt="" style="width: 50px;">
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>


    <h2>
        <p style="color: #494949; text-align: center; margin-bottom: -15px; font-family: 'Inter Tight', sans-serif; font-weight: 3000">СОЗДАЙ СВОЕ ПРОИЗВЕДЕНИЕ<br> ИСКУССТВА</p>
    </h2>
    <h6 style="margin-bottom: 0px; color: #494949; text-align: center; font-size: 20px; font-family: 'Merriweather', serif;">
        <I>удиви своих знакомых и друзей, преобразуй фотографию в скетч</I>
    </h6>
    <section class="about ">
        <div class="info ">
            <div class="about__con ">
                <img src="static/images/1.jpg " alt=" " width="389 ">
                <h6 class="about__h6 " style="text-align: center; ">Используйте наши профессионально созданные фильтры и эффекты для эскизов, чтобы придать вашим фотографиям реалистичный вид. Наш простой в использовании сайт позволяет всего за пару секунд превратить фотографию в рисунок-эскиз.</h6>
            </div>
            <div class="about__con ">
                <img src="static/images/2.jpg " alt=" " width="389 " height="260 ">
                <h6 class="about__h6 " style="text-align: center; ">Sketchify оснащен фильтром эскизов для стильных селфи и портретов. Когда вы используете фильтр, ваше изображение преобразуется в рисунок, созданный вручную. Это не только быстро, но и обеспечивает изображения высокой четкости. Нарисовать
                    человека еще никогда не было так просто！
                </h6>
            </div>
            <div class="about__con ">
                <img src="static/images/3.jpg " alt=" " width="389 ">
                <h6 class="about__h6 " style="text-align: center; ">Если вы хотите преобразовать селфи, пейзажи или домашних животных, Sketchify поможет вам! Просто загрузите свою фотографию. Итак, попробуйте создать потрясающие произведения искусства с помощью удобного сайта за считанные секунды.</h6>
            </div>
        </div>
    </section>

    <div class="block "></div>
    <section class="about__2">
        <div class="head__2">
            <h3 style="text-align: center;  margin-top: 0; font-family: 'Inter Tight', sans-serif; font-weight: 501; color:#3f3f3f">
                Как преобразовать фотографию в скетч?
            </h3>
        </div>

        <img src="static/images/4.jpg" alt="" class="photo">

        <div class="info__2">
            <div class="mag" style="line-height: 230px; width:100px;">
                <img src="static/images/5.jpg" alt="" class="round1" width="110"><br>
                <img src="static/images/6.jpg" alt="" class="round1" width="110"><br>
                <img src="static/images/7.png" alt="" class="round1" width="110" style="background-color: aliceblue;"><br>
            </div>

            <div class="about__con__2">
                <h5 class="about__h5">выбери фото</h5>
                <div class="text__h5">
                    Выберите изображение, которое хотите преобразовать в эскиз. Фотография может быть чем угодно: портретами, абстракциями, домашними животными и даже пейзажами.
                </div>
            </div>
            <div class="about__con__2">
                <h5 class="about__h5">загрузи фото на сайт</h5>
                <div class="text__h5">
                    Загрузите изображение и выберите фильтр эскиза. Нажмите на него и подождите, пока он обработается.
                </div>
            </div>
            <div class="about__con__2">
                <h5 class="about__h5" style="padding-top: 30px;">скачай скетч</h5>
                <div class="text__h5">
                    После завершения обработки фотографии в эскиз вы получите возможность загрузить ее на свое устройство.
                </div>
            </div>
        </div>
    </section>

    <section class="about__3">
        <div class="info__3" style="font-family: 'Inter Tight', sans-serif;">
            <div class="text__3">
                <h1 style="margin: 0; padding-top: 100px; font-weight: 500;">Измени свое фото сейчас!</h1>
                <h5 style="margin: 20px; font-weight: 200;">Превратите фотографию в эскиз прямо сейчас и увидите волшебство сами.</h5>
            </div>
            <form action="/create" class="knopka">
                <button class="knopka__btn">РЕДАКТОР</button>
            </form>
        </div>
    </section>

    <div class="block__2"></div>
    <footer class="down">
        <div class="foot__inf" style="display: flex;">
            <div class="foot__con" style="width: 300px;">
                <a href="#" class="logo2">
                    <img src="static/images/logo.jpg" alt="" style="width: 120px;" class="logo2">
                </a>
                <h3 class="about__h3" style="font-family: 'Merriweather', serif; font-style: italic;">Sketchify</h3>
            </div>
            <div class="foot__con" style="padding-left: 200px; padding-top: 40px;">
                <h5 class="tel__num" style="font-weight: 500; margin-bottom: 10px; font-size: 20px; width: 250px; font-family: 'Merriweather', serif;">+1 (234) 567-8910</h5>
                <h5 class="tel__num" style="font-weight: 500; margin-top: 20px; font-size: 20px; width: 250px; font-family: 'Merriweather', serif;">+1 (234) 567-8910</h5>
            </div>
            <div class="foot__con">
                <h5 class="city" style="text-align: center; font-weight: 500; font-size: 18px; padding-top: 37px; margin-bottom: 0; font-family: 'Merriweather', serif;">г.Санкт-Петербург, Кронверский пр-т, 9</h5>
                <nav class="botmenu">
                    <ul class="botmenu__list" style="display: flex; align-items: center; gap: 0 40px; margin-top: 10px;">
                        <li class="botnav">
                            <a href="/" class="botlink" style="font-size: 18px; width: 0px; text-decoration: none; font-family: 'Inter Tight', sans-serif; font-weight: 500">Главная</a>
                        </li>
                        <li class="botnav">
                            <a href="/about" class="botlink" style="font-size: 18px; width: 0px; text-decoration: none; font-family: 'Inter Tight', sans-serif; font-weight: 500">О нас</a>
                        </li>
                        <li class="botnav">
                            <a href="/create" class="botlink" style="font-size: 18px; width: 0px; text-decoration: none; font-family: 'Inter Tight', sans-serif; font-weight: 500">Редактор</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>

    <div id="modal" class="modal">
        <div class="modal-content">
            <button class="close">close</button>
            <ul style="line-height: 30px; width: 200px; list-style-type: none; padding-left: 100px; align-items: center; margin-top: 10px;">
                <li class="botnav">
                    <a href="/" class="botlink" style="font-size: 20px; width: 0px; text-decoration: none; color:#ffffff;">Главная</a>
                </li>
                <li class="botnav">
                    <a href="/about" class="botlink" style="font-size: 20px; width: 0px; text-decoration: none; color:#ffffff;">О нас</a>
                </li>
                <li class="botnav">
                    <a href="/create" class="botlink" style="font-size: 20px; width: 0px; text-decoration: none; color:#ffffff;">Редактор</a>
                </li>
            </ul>
        </div>
    </div>

    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0);
            text-decoration: none
        }
        
        .modal-content {
            background-color: #000000;
            color: rgb(255, 255, 255);
            border-right: 1px solid black;
            font-size: 80px;
            width: 15%;
            height: 100%;
            margin-right: 0%;
        }
        
        .close {
            color: #ffffff;
            position: relative;
            border-radius: 99px;
            border: 1px solid #000000;
            text-decoration: none;
            padding: 0.5rem 1.5rem;
            font-weight: 700;
            outline: none;
            background: #000000;
            transition: all 0.22s;
            cursor: pointer;
            margin-left: 70%;
        }
    </style>




    <script>
        const modal = document.querySelector('#modal');
        const btn = document.querySelector('#openModal');
        const close = document.querySelector('.close');

        btn.onclick = function() {
            modal.style.display = 'block';
        };

        close.onclick = function() {
            modal.style.display = 'none';
        };

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        };
    </script>

</body>

</html>